.radiobox__box
{
    position: relative;
    top: 1px;

    display: inline-block;

    /* Размеры (width, height) обертки задаются в _size */
    margin-right: 0.5em;

    -moz-border-radius: 100%;
    border-radius: 100%;
}