.input__hint
{
    position: absolute;
    z-index: 5;

    visibility: hidden;
    overflow: hidden;

    max-width: 100%;
    height: 2em;
    padding: 0 1em 0 8px;

    cursor: text;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    color: #ccc;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}