@media all and (min-width:0px) {
    .radio-button__radio_pressed_yes .radio-button__text
    {
        top: 1px;

        padding: 1px 1em 0;
    }
}

.radio-button__radio_pressed_yes:before
{
    right: 0;
}

.radio-button__radio_next-for-pressed_yes:before
{
    left: 1px;
}

