.button__input
{
    position: absolute;
    z-index: 1;
    left: 0;

    cursor: default;
}

@media all and (min-width:0px) {
    .button__input
    {
        right: 0;

        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        opacity: 0;
        outline: 0;

        border: 0;

        font: 0/0 a;
    }
}

/* FF > 2 иначе инпут растягивается больше чем на 100% *//**/
.button__input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/* no_js */ /**/
.i-ua_js_no .button__input[type] + .button__text,
.i-ua_js_no .button__input[type] + .button__text
{
    display: none;
}
