.table-2__cell-2
{
    display: inline-block;

    width: 25%;
    margin: 20px 0;

    vertical-align: top;
}

@media (max-width: 1280px)
{
    .table-2__cell-2
    {
        width: 33%;
    }
}

@media (max-width: 800px)
{
    .table-2__cell-2
    {
        width: 50%;
    }
}
