.modal_theme_simple
{
    display: none;

    background: rgba(50, 50, 50, .2);

    &.modal_visible
    {
        display: block;
    }

    .modal__content
    {
        background: #fff;
        border: 1px solid #bfbfbf;
    }
}
