.button_theme_islands {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  user-select: none;
  color: #000;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background: rgba(0,0,0,0.2);
  text-align: center;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button_theme_islands::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button_theme_islands .button__text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.button_theme_islands .icon {
  position: relative;
}
.button_theme_islands.button_type_link {
  text-decoration: none;
}
.button_theme_islands:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff;
}
.button_theme_islands.button_hovered {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.button_theme_islands.button_focused-hard {
  z-index: 1;
  background: rgba(178,142,0,0.6);
  box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}
.button_theme_islands.button_pressed:before {
  background: #f6f5f3;
}
.button_theme_islands.button_checked {
  background: rgba(153,122,0,0.5);
}
.button_theme_islands.button_checked:before {
  background: #ffeba0;
}
.button_theme_islands.button_checked.button_pressed {
  background: rgba(129,103,0,0.6);
}
.button_theme_islands.button_checked.button_pressed:before {
  background: #fee481;
}
.button_theme_islands.button_checked.button_hovered {
  background: rgba(129,103,0,0.6);
}
.button_theme_islands.button_view_plain {
  background: none;
}
.button_theme_islands.button_view_plain:before {
  display: none;
}
.button_theme_islands.button_view_plain.button_pressed {
  background: #f6f5f3;
}
.button_theme_islands.button_view_plain.button_checked {
  background: #ffeba0;
}
.button_theme_islands.button_view_plain.button_checked.button_pressed {
  background: #fee481;
}
.button_theme_islands.button_view_plain.button_disabled {
  background: none;
}
.button_theme_islands.button_view_action {
  background: rgba(191,153,0,0.8);
}
.button_theme_islands.button_view_action:before {
  background: #ffdb4d;
}
.button_theme_islands.button_view_action.button_pressed:before {
  background: #fc0;
}
.button_theme_islands.button_view_action.button_hovered {
  background: rgba(159,127,0,0.8);
}
.button_theme_islands.button_view_pseudo {
  overflow: hidden;
  background: none;
}
.button_theme_islands.button_view_pseudo:before {
  background: none;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.button_theme_islands.button_view_pseudo.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.button_theme_islands.button_view_pseudo.button_focused-hard:before {
  box-shadow: none;
}
.button_theme_islands.button_view_pseudo.button_pressed:before {
  background: rgba(0,0,0,0.05);
}
.button_theme_islands.button_view_pseudo.button_checked:before {
  background: #ffeba0;
  box-shadow: 0 0 0 1px rgba(153,122,0,0.5);
}
.button_theme_islands.button_view_pseudo.button_checked.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_islands.button_view_pseudo.button_checked.button_pressed:before {
  background: #fee481;
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_islands.button_disabled {
  background: rgba(0,0,0,0.08);
}
.button_theme_islands.button_disabled:before {
  display: none;
}
.button_theme_islands.button_disabled.button_checked:before {
  display: block;
  background: #ffeba0;
}
.button_theme_islands.button_disabled .button__text {
  color: #aaa;
}
.button_theme_islands.button_disabled .icon {
  opacity: 0.3;
}
.button_theme_islands.button_size_s {
  font-size: 13px;
  line-height: 24px;
}
.button_theme_islands.button_size_s .icon {
  width: 24px;
}
.button_theme_islands.button_size_s .button__text {
  margin: 0 10px;
}
.button_theme_islands.button_size_m {
  font-size: 13px;
  line-height: 28px;
}
.button_theme_islands.button_size_m .icon {
  width: 28px;
}
.button_theme_islands.button_size_m .button__text {
  margin: 0 13px;
}
.button_theme_islands.button_size_l {
  font-size: 15px;
  line-height: 32px;
}
.button_theme_islands.button_size_l .icon {
  width: 32px;
}
.button_theme_islands.button_size_l .button__text {
  margin: 0 15px;
}
.button_theme_islands.button_size_xl {
  font-size: 18px;
  line-height: 38px;
}
.button_theme_islands.button_size_xl .icon {
  width: 38px;
}
.button_theme_islands.button_size_xl .button__text {
  margin: 0 18px;
}
.button_theme_islands .icon + .button__text {
  margin-left: 0;
}
.button_theme_islands .button__text:not(:last-child) {
  margin-right: 0;
}
.control-group .button_checked + .button_theme_islands:before,
.control-group .radio_checked + .radio .button_theme_islands:before,
.control-group .checkbox_checked + .checkbox .button_theme_islands:before {
  left: 0;
}
.control-group .button_theme_islands {
  border-radius: 0;
}
.control-group .button_theme_islands:before {
  right: 0;
  border-radius: 0;
}
.control-group .button_theme_islands.button_checked:before,
.control-group .button_theme_islands.button_focused-hard.button:before {
  right: 1px;
}
.control-group .button_theme_islands.button_focused-hard.button:before {
  left: 1px;
}
.control-group > .button_theme_islands:first-child,
.control-group > :first-child .button_theme_islands,
.control-group > :first-child.popup + .button_theme_islands {
  border-radius: 3px 0 0 3px;
}
.control-group > .button_theme_islands:first-child:before,
.control-group > :first-child .button_theme_islands:before,
.control-group > :first-child.popup + .button_theme_islands:before {
  border-radius: 2px 0 0 2px;
}
.control-group > .button_theme_islands:last-child,
.control-group > :last-child .button_theme_islands {
  border-radius: 0 3px 3px 0;
}
.control-group > .button_theme_islands:last-child:before,
.control-group > :last-child .button_theme_islands:before {
  border-radius: 0 2px 2px 0;
  right: 1px;
}
.control-group > :only-child .button_theme_islands {
  border-radius: 3px;
}
.control-group > :only-child .button_theme_islands:before {
  border-radius: 2px;
}
