.spin_theme_simple {
    display: none;

    width: 20px;
    height: 20px;

    border: 2px dashed #000;
    border-radius: 50%;
}

.spin_theme_simple.spin_visible {
    display: inline-block;
    -webkit-animation: spin_theme_simple 2s infinite linear;
            animation: spin_theme_simple 2s infinite linear;
}

@-webkit-keyframes spin_theme_simple {
    from {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin_theme_simple {
    from {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
