.spin_theme_islands
{
    position: absolute;

    display: inline-block;
    visibility: hidden;

    color: transparent;

    &:before
    {
        position: absolute;
        left: 0;

        box-sizing: border-box;
        width: 100%;

        content: '';

        border: 2px solid;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
    }

    &:after
    {
        content: '\00A0';
    }

    &.spin_visible
    {
        position: relative;

        visibility: visible;

        animation: spin_theme_islands 1s infinite linear;

        background: 0 0 no-repeat url(spin_theme_islands.gif);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) !important;

        backface-visibility: hidden; /* Accelerate animation */
    }

    sizeList = (16 24 28 32 38);
    bgShift = 0px;

    for sizeVal, i in xs s m l xl {
        &.spin_size_{sizeVal}
        {
            line-height: sizeList[i]px;

            width: sizeList[i]px;
            height: sizeList[i]px;

            background-position: 0 bgShift;

            &:before
            {
                height: sizeList[i]px;
            }
        }

        bgShift -= sizeList[i] + 1;
    }
}

@keyframes spin_theme_islands
{
    from
    {
        color: #fc0;
        transform: rotate(0);
    }
    to
    {
        color: #fc0;
        transform: rotate(360deg);
    }
}
