.b-layout-table_layout_60-40 .b-layout-table__cell
{
    padding: 0.4em 0;

    background: #9c0;
}

.b-layout-table_layout_60-40 .b-layout-table__cell_position_l
{
    width: 100%;

    background: #f3a828;
}
