.popup:not(.modal):not([class*="popup_theme"]) {
  display: none;
  background: #fff7db;
  box-shadow: inset 0 0 1px #f00;
}
.popup_visible:not(.modal):not([class*="popup_theme"]) {
  display: block;
}
