.*.swp

.project
.settings/
.idea/

.bem/cache
.bem/snapshots
.enb/tmp
node_modules
libs

*.pages/*/*
!*.pages/.bem/*
!*.pages/*/blocks
!*.pages/*/*.bemjson.js
*.pages/*/_*.bemjson.js

/coverage
/coverage.json
/gemini-report/

/dist
/*.docs
/*.examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs
/test/dist/fixtures
