width = (12 16);
height = (11 15);
background = (url('stars_size_s.png') url('stars_size_m.png'));
bgTopPosition = (-11 -15);

.rating_theme_normal {
    overflow: hidden;
    display: inline-block;
    position: relative;

    .rating__input
    {
        position: absolute;
        left: 0;
        top: -12px;
        opacity: 0;
    }

    &.rating_focused
    {
        border-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px 1px #fc0;
    }

    &.rating_disabled
    {
        z-index: -2;
        opacity: .5;
    }

    &.rating_readonly_yes
    {
        z-index: -2;
    }

    .rating__label,
    &:hover .rating__label
    {
        float: right;
        display: block;
    }

    .rating__label:hover,
    .rating__label_hovered,
    .rating__label_hovered ~ .rating__label,
    .rating__label:hover ~ .rating__label
    {
        cursor: pointer;
    }

    .rating__staticLayer
    {
        position: absolute;
        z-index: -1;
    }

    for sizeVal, i in (s m) {
        &.rating_size_{sizeVal}
        {
            .rating__label,
            &:hover .rating__label
            {
                width: (width[i])px;
                height: (height[i])px;
                background: background[i];
            }

            .rating__label:hover,
            .rating__label_hovered,
            .rating__label_hovered ~ .rating__label,
            .rating__label:hover ~ .rating__label
            {
                background-position: 0 (height[i])px;
            }

            .rating__staticLayer
            {
                height: (height[i])px;
                background: background[i] 0 (height[i])px;
            }
        }
    }
}
