.button__icon
{
    position: relative;

    width: 16px;
    height: 16px;
    margin-right: 7px;
}

.button__icon::before
{
    font: 16px/16px serif;

    display: inline-block;

    width: 16px;
    height: 16px;

    text-align: center;
    content: '×';
}

.button_pressed .button__icon
{
    top: 1px;
}
