.button__icon
{
    font: 1em/1 serif;

    position: relative;

    width: 1em;
    height: 1em;
}

.button__icon::before
{
    display: inline-block;

    width: 1em;

    content: '×';
    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #000;
}

.button_pressed .button__icon
{
    top: 1px;
}

.button__icon + .button__text
{
    margin-left: 7px;
}
