:block(radio-group):mod(theme islands) {
    display: inline-block;

    &:block(radio-group):mod(size m) {
        line-height: 24px;
    }

    &:block(radio-group):mod(size l) {
        line-height: 30px;
    }

    &:block(radio-group):mod(type button) {
        display: inline-block;

        white-space: nowrap;
    }
}
