:block(menu):mod(theme simple) {
    outline: 0;

    &:block(menu):mod(focused) {
        border-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px 1px #fc0;
    }

    :block(menu):elem(group-title) {
        font-style: italic;

        padding: 4px 10px;
    }
}
