.radio-button__radio_only-icon_yes
{
    padding: 0 1em;
}

.radio-button__radio_only-icon_yes .radio-button__icon
{
    /* vam — для _js_no и для ie */
    vertical-align: middle;
}

@media all and (min-width:0px) {
    .i-ua_js_yes .radio-button__radio_only-icon_yes .radio-button__icon
    {
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;

        margin: -8px 0 0 -8px;
    }

    .radio-button__radio_only-icon_yes.radio-button__radio_pressed_yes .radio-button__icon
    {
        margin-top: -7px;
    }
}

.i-ua_js_no .radio-button__radio_only-icon_yes
{
    padding: 0 1em 0 0;
}
