@media all and (min-width:0px) {

    .button
    {
        cursor: pointer;
    }

}

a.button:hover
{
    cursor: default;

    /* hidden for Opera 12 to remove native focusing  */
    outline: hidden;

    text-decoration: none;
}
