:block(link):mod(type docs) {
    display: inline-block;

    margin-bottom: 10px;

    &:after
    {
        content: ' ❏';
    }
}

:block(radio-group):mod(type button) ~ :block(link):mod(type docs) {
    margin-top: 20px;
}
