.summon-test
{
    display: inline-block;

    margin-bottom: 1em;
    padding: 10px;

    background-color: #eee;

    &__popup
    {
        padding: 10px;
    }

    .test
    {
        display: inline-block;

        margin-right: 100px;
    }
}
