html {
    min-height: 100%;
}

:block(page):mod(theme islands) {
    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    min-height: 100%;
    margin: 0;

    color: #000;
    background: #fff;
}
