.checkbox__tick
{
    position: relative;
    z-index: 3;
    top: -3px;
    left: 2px;

    display: inline-block;
    visibility: hidden;

    width: 1.1em;
    height: 1.1em;
    margin: 0 0 -2px;
    padding: 0;

    vertical-align: baseline;

    opacity: .8;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNi4wMzdweCIgaGVpZ2h0PSIxNC45NzNweCI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuMTg3LTE5Ljg0NWM0LjQxOCwwLDgsMy41ODIsOCw4YzAsNC40MTktMy41ODIsOC04LDhzLTgtMy41ODEtOC04Qy0xLjgxMy0xNi4yNjMsMS43NjktMTkuODQ1LDYuMTg3LTE5Ljg0NXoiLz48cGF0aCBkPSJNNi4xODctMTguODQ1Yy0zLjg2NiwwLTcsMy4xMzQtNyw3czMuMTM0LDcsNyw3czctMy4xMzQsNy03UzEwLjA1My0xOC44NDUsNi4xODctMTguODQ1eiBNMTAuMTc3LTkuMjhMOC43NTEtNy44NTRsLTIuNTY0LTIuNTY0TDMuNjIyLTcuODU0TDIuMTk2LTkuMjhsMi41NjQtMi41NjRsLTIuNTY0LTIuNTY0bDEuNDI2LTEuNDI2bDIuNTY0LDIuNTY0bDIuNTY0LTIuNTY0bDEuNDI2LDEuNDI2bC0yLjU2NCwyLjU2NEwxMC4xNzctOS4yOHoiLz48cGF0aCBkPSJNNS4yODcsMTQuOTcybDEwLjc1LTEyLjgxNkwxMy44NiwwTDUuMjg3LDEwLjY2MUwyLjE0Myw2LjUxM0wwLDguNjM2TDUuMjg3LDE0Ljk3MnoiLz48L3N2Zz4=) 0 100% no-repeat;
    /*background: url(checkbox__tick.svg) 0 100% no-repeat;*/
}
