.menu-item_theme_islands
{
    &.menu-item_disabled
    {
        color: #999;
    }
}

paddingHor = (10 13 15 20);
imageSize = (s s l l);

for sizeVal, i in s m l xl {
    .menu_size_{sizeVal}
    {
        .menu-item_theme_islands.menu-item_checked
        {
            background: (paddingHor[i])px 50% no-repeat url('tip_size_'imageSize[i]'.png');
        }
    }
}
