.modal_theme_islands {
    display: none;
    visibility: hidden;

    margin: -9999px 0 0 -9999px; /* to prevent clickability and visiblity of internal elements with visiblity: visible */

    background: rgba(50, 50, 50, 0.2);
}

.modal_theme_islands,
    .modal_theme_islands .modal__content {
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}

.modal_theme_islands .modal__content {
    margin: 5px;
    border: 1px solid #bfbfbf;
    background-color: #fff;
}

.modal_theme_islands.modal_js_inited {
    display: block;
}

.modal_theme_islands.modal_has-animation {
    -webkit-animation-name: modal_theme_islands;
            animation-name: modal_theme_islands;
}

.modal_theme_islands.modal_has-animation .modal__content {
    -webkit-animation-name: modal_theme_islands__content;
            animation-name: modal_theme_islands__content;
}

.modal_theme_islands.modal_visible {
    visibility: visible;
    margin: 0;
}

.modal_theme_islands.modal_visible.modal_has-animation {
    -webkit-animation-name: modal_theme_islands_visible;
            animation-name: modal_theme_islands_visible;
}

.modal_theme_islands.modal_visible.modal_has-animation .modal__content {
    -webkit-animation-name: modal_theme_islands_visible__content;
            animation-name: modal_theme_islands_visible__content;
}

/* closing modal */

@-webkit-keyframes modal_theme_islands {
    0% {
        visibility: visible;

        margin: 0;

        opacity: 1;
    }

    99% {
        margin: 0;
    }

    100% {
        visibility: hidden;

        margin: -9999px 0 0 -9999px;

        opacity: 0;
    }
}

@keyframes modal_theme_islands {
    0% {
        visibility: visible;

        margin: 0;

        opacity: 1;
    }

    99% {
        margin: 0;
    }

    100% {
        visibility: hidden;

        margin: -9999px 0 0 -9999px;

        opacity: 0;
    }
}

/* opening modal */

@-webkit-keyframes modal_theme_islands_visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes modal_theme_islands_visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* closing modal__content */

@-webkit-keyframes modal_theme_islands__content {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
}

@keyframes modal_theme_islands__content {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
}

/* opening modal__content */

@-webkit-keyframes modal_theme_islands_visible__content {
    0% {
        -webkit-transform: scale(.75);
                transform: scale(.75);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes modal_theme_islands_visible__content {
    0% {
        -webkit-transform: scale(.75);
                transform: scale(.75);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
