.directions
{
    padding: 70px;
}

.directions__cell
{
    padding: 8px;
}

.directions__cell_align_left
{
    text-align: left;
}

.directions__cell_align_center
{
    text-align: center;
}

.directions__cell_align_right
{
    text-align: right;
}

.directions__cell_border_yes
{
    border: 1px solid #ccc;
}
