.directions
{
    padding: 70px;

    &__cell
    {
        padding: 8px;

        &_border_yes
        {
            border: 1px solid #ccc;
        }

        for direction in left center right
        {
            &_align_{direction}
            {
                text-align: direction;
            }
        }
    }
}
