/* TODO: проверить реализацию чекбокса с иконками */
.check-button__icon
{
    width: 16px;
    height: 16px;
}

.check-button__text .check-button__icon
{
    position: relative;
    top: 3px;

    margin-right: 7px;
}

.check-button_pressed_yes .check-button__icon,
.check-button_checked_yes .check-button__icon
{
    opacity: .4;
}
