.dragndrop
{
    &_eye
    {
        width: 80px;
        height: 80px;

        border: 10px solid #000;
        border-radius: 50%;

        &:before
        {
            content: '';

            position: absolute;
            top: 30px;
            left: 25px;

            width: 40px;
            height: 40px;

            background: none repeat scroll 0 0 black;
            border-radius: 50%;
        }
    }

    &_face
    {
        width: 400px;
        height: 500px;

        border: 3px solid #000;
        border-radius: 50%;
    }

    &_hat
    {
        width: 240px;
        height: 100px;

        background: #adff2f;

        z-index: 1;

        &:before
        {
            content: '';

            position: absolute;
            right: -30px;
            bottom: 0;

            width: 300px;
            height: 30px;

            background: #adff2f;
        }

    }

    &_mouth
    {
        width: 140px;
        height: 0;

        border-bottom: 20px solid #f00;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    &_nose
    {
        width: 80px;
        height: 40px;

        &:before,
        &:after
        {
            content: '';

            position: absolute;
            top: 10px;

            width: 20px;
            height: 20px;

            background: none repeat scroll 0 0 black;
            border-radius: 50%;
        }

        &:before
        {
            left: 14px;
        }

        &:after
        {
            left: 46px;
        }
    }

}
