@media all and (min-width:0)
{
    .attach__control
    {
        font-size: 150%;

        position: absolute;
        right: 0;

        opacity: 0;
        border: none;
        background: none;
    }
}
