.check-button__text
{
    position: relative;

    /* Здесь добавлен 1px нижний паддинг для решение проблемы с несрабатыванием контрола LEGO-9439 */
    padding: 0 1em 1px;
}

.i-ua_js_no .check-button__text
{
    padding: 0 1em 0 0.3em;
}
