.input__clear
{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    top: 0;

    display: none;

    margin: 0;
    padding: 0;
}

.input__clear::after
{
    font-size: 140%;
    line-height: 1;
    font-weight: bold;

    display: block;

    width: 1.2em;

    content: '×';
    text-align: center;
}
