.dragndrop_nose
{
    width: 80px;
    height: 40px;

    &:before,
    &:after
    {
        content: '';

        position: absolute;
        top: 10px;

        width: 20px;
        height: 20px;

        background: none repeat scroll 0 0 black;
        border-radius: 50%;
    }

    &:before
    {
        left: 14px;
    }

    &:after
    {
        left: 46px;
    }
}
