.button
{
    font-family: inherit;
    font-size: 100%;
    line-height: 100%;
}

a.button:link,
a.button:hover,
a.button:visited
{
    cursor: default;
    text-decoration: none;

    color: #000;
}

.button__text
{
    position: relative;
}
