.button
{
    font-family: inherit;
    font-size: 100%;
    line-height: 100%;

    display: inline-block;

    margin: 0;
    padding: 0.2em 1em;

    text-align: center;

    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    background: #fff;
}

.button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

a.button:link,
a.button:hover,
a.button:visited
{
    cursor: default;
    text-decoration: none;

    color: #000;
}

.button__text
{
    position: relative;
}
