.radio-button__radio
{
    position: relative;
    z-index: 2;

    display: inline-block;

    margin: 0 -1px 0 0;

    outline: 0;

    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* :before — бордер
   :after — фон */
.radio-button__radio:after,
.radio-button__radio:before
{
    position: absolute;
    right: 1px;
    bottom: 0;
    left: 0;
    top: 0;

    content: '';
}

.radio-button__radio:after
{
    bottom: 1px;
    left: 1px;
    top: 1px;
}

.radio-button__radio_side_left,
.radio-button__radio_side_left:before
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.radio-button__radio_side_right,
.radio-button__radio_side_right:before
{
    right: 0;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.radio-button__radio_side_left:after
{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.radio-button__radio_side_right:after
{
    right: 1px;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ua_js_no .radio-button__radio:after,
.ua_js_no .radio-button__radio:before
{
    display: none;
}
