/* disable select __box on touch devices */
.input__box
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.i-ua_platform_bada .input_theme_normal .input__box:before
{
    bottom: -1px;
    top: -1px;
}
