checkedColor = #ffeba0;
checkedPressedColor = #fee481;

.button_theme_islands
{
    border: 1px solid #cbcbcb;
    background: #fff;

    &:before
    {
        content: none;
    }

    &.button_hovered
    {
        border-color: #b2b2b2;
    }

    &.button_focused-hard
    {
        border-color: #fc0 !important;
        outline: 1px solid #fc0;
    }

    &.button_checked
    {
        border-color: #cbbc7f;
        background: checkedColor;

        &.button_pressed
        {
            background: checkedPressedColor;
        }

        &.button_pressed,
        &.button_hovered
        {
            border-color: #b2a265;
        }
    }

    &.button_pressed
    {
        background: #f6f5f3;
    }

    &.button_view_action
    {
        border-color: #caac32;
        background: #ffdb4d;

        &.button_pressed
        {
            background: #fc0;
        }

        &.button_hovered
        {
            border-color: #b19732;
        }
    }

    &.button_view_pseudo
    {
        &.button_pressed
        {
            background: #f2f2f2;
        }

        &.button_checked
        {
            &.button_pressed
            {
                background: checkedPressedColor;
            }

            &.button_pressed,
            &.button_hovered
            {
                border-color: #937d28;
            }
        }
    }

    &.button_disabled
    {
        border-color: #eaeaea;
        background: #eaeaea;

        &.button_checked
        {
            background: checkedColor;
        }
    }

    lineHeightList = (22 26 30 36);
    for size, i in s m l xl {
        &.button_size_{size}
        {
            line-height: lineHeightList[i]px;
        }
    }
}

.control-group
{
    .button_theme_islands
    {
        border-left-width: 0;

        &:after
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            content: '';

            border-left: 1px solid transparent;
        }
    }

    > :first-child .button_theme_islands,
    > .button_theme_islands:first-child
    {
        border-left-width: 1px;

        &:after
        {
            content: none !important;
        }
    }

    for blockName in checkbox radio
    {
        &.{blockName}-group_type_button
        {
            .button_theme_islands.button_focused-hard
            {
                &:after
                {
                    content: ' ';

                    border-color: #fc0;
                }
            }
        }
    }
}
