.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.modal__table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.modal__cell {
  display: table-cell;
  vertical-align: middle;
}
.modal__content {
  display: inline-block;
  text-align: left;
}
