/* TODO: Проверить реализацию только с иконкой */
.check-button_only-icon_yes
{
    padding: 0 1em;
}

.check-button_only-icon_yes .check-button__icon
{
    /* vam — для _js_no и для ie */
    vertical-align: baseline;
}

@media all and (min-width:0px) {
    .ua_js_yes .check-button_only-icon_yes .check-button__icon
    {
        position: absolute;
        left: 50%;
        top: 50%;

        margin: -8px 0 0 -8px;
    }

    .check-button_only-icon_yes.check-button_pressed_yes .check-button__icon
    {
        margin-top: -7px;
    }
}

.ua_js_no .check-button_only-icon_yes
{
    padding: 0 1em 0 0;
}
