@media all and (min-width:0px) {
    .input_has-clear .input__box
    {
        /* padding-right for elem clear */
        padding-right: 29px;

        -moz-box-sizing: border-box;
         box-sizing: border-box;

        cursor: text;
    }
}

/* ::after = fade */
.input_has-clear .input__box::after
{
    position: absolute;
    z-index: 3;
    bottom: 1px;
    right: 1px;
    top: 2px;

    content: '';

    width: 36px;

    background: -webkit-gradient(linear, left top, right top, color-stop(0,rgba(255,255,255,0)), color-stop(20%, #fff));
    background:    -moz-linear-gradient(left, rgba(255,255,255,0) 0, #fff 20%);
    background:      -o-linear-gradient(left, rgba(255,255,255,0) 0, #fff 20%);
    background:     -ms-linear-gradient(left, rgba(255,255,255,0) 0, #fff 20%);
    background:         linear-gradient(to right, rgba(255,255,255,0) 0, #fff 20%);
}
