.input__hint
{
    float: left;
    visibility: hidden;

    width: 100%;

    white-space: nowrap;
}

.i-ua_js_yes .input__hint-inner
{
    position: absolute;
    z-index: 1;

    overflow: hidden;

    max-width: 100%;
    padding: 0 1em 0 0.6em;

    cursor: text;

    color: #999;

    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.i-ua_js_no .input__hint
{
    float: none;
    visibility: visible;
}
