:block(textarea):mod(theme islands) {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    display: inline-block;

    background: #fff;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 2em;

    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &::-webkit-input-placeholder {
        color: #999;
        text-indent: 0;
    }

    &::-moz-placeholder {
        opacity: 1;
        color: #999;
    }

    &:block(textarea):mod(focused) {
        border-color: #ffcc00;
        box-shadow: 0 0 0 1px #ffcc00;
    }

    &:block(textarea):mod(width available) {
        width: 100%;

        resize: vertical;
    }

    &:block(textarea):mod(disabled) {
        resize: none;
        cursor: default;

        color: rgba(0, 0, 0, .4);
        border-color: transparent;
        background: rgba(0, 0, 0, .08);
    }

    &:block(textarea):mod(size s) {
        font-size: 13px;
        line-height: 16px;

        padding-left: 6px;
    }

    &:block(textarea):mod(size m) {
        font-size: 13px;
        line-height: 18px;

        padding: 3px 5px;
    }

    &:block(textarea):mod(size l) {
        font-size: 15px;
        line-height: 20px;

        padding: 5px 7px;
    }

    &:block(textarea):mod(size xl) {
        font-size: 18px;
        line-height: 22px;

        padding-left: 11px;
    }
}
