.attach__icon
{
    display: inline-block;

    margin-right: 0.5em;
    padding: 0 0.2em;

    text-align: center;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0 0.4em 0 0;
}

.attach__icon::before
{
    content: '???';
}

.attach__icon_file_archive::before
{
    content: 'xxx';
}

.attach__icon_file_gif::before
{
    content: 'gif';
}

.attach__icon_file_jpg::before
{
    content: 'jpg';
}

.attach__icon_file_png::before
{
    content: 'png';
}

.attach__icon_file_svg::before
{
    content: 'svg';
}

.attach__icon_file_eml::before
{
    content: 'eml';
}

.attach__icon_file_exe::before
{
    content: 'exe';
}

.attach__icon_file_video::before
{
    content: 'vid';
}

.attach__icon_file_mov::before
{
    content: 'mov';
}

.attach__icon_file_wmv::before
{
    content: 'wmv';
}

.attach__icon_file_mp4::before
{
    content: 'mp4';
}

.attach__icon_file_avi::before
{
    content: 'avi';
}

.attach__icon_file_xls::before
{
    content: 'xls';
}

.attach__icon_file_doc::before
{
    content: 'doc';
}

.attach__icon_file_txt::before
{
    content: 'txt';
}

.attach__icon_file_pdf::before
{
    content: 'pdf';
}

.attach__icon_file_ppt::before
{
    content: 'ppt';
}

.attach__icon_file_audio::before
{
    content: 'aud';
}

.attach__icon_file_mp3::before
{
    content: 'mp3';
}

.attach__icon_file_wav::before
{
    content: 'wav';
}

.attach__icon_file_wma::before
{
    content: 'wma';
}
