.link_theme_normal
{
    color: #44b;
    cursor: pointer;
    transition: color 0.15s ease-out;
    text-decoration: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

    &:hover
    {
        color: #e00;
    }
}
