.link_theme_simple
{
    cursor: pointer;
    text-decoration: underline;

    &,
    &:link
    {
        color: #008ace;
    }

    &:visited
    {
        color: #b40eb4;
    }

    &:hover
    {
        color: #c00;
    }
}
