:block(link):mod(theme islands) {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #04b;
    cursor: pointer;
    transition: color 0.15s ease-out;
    text-decoration: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

    &:block(link):mod(view minor) {
        color: #669;
    }

    &:block(link):mod(view external) {
        color: #070;
    }

    &:block(link):mod(view ghost) {
        color: #999;
        &:hover {
            color: #000;
        }
    }

    &:block(link):mod(view text) {
        color: #000;
    }

    &:block(link):mod(view strong) {
        font-weight: bold;
    }

    &:hover {
        color: #e00;
    }

    @each $size, $val in (s, m, l, xl), (13px, 13px, 15px, 18px) {
        &:block(link):mod(size $size) {
            font-size: $val;
        }
    }

    &:block(link):mod(disabled) {
        color: #ddd;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}
