/* elem box — a border input */
.input__box
{
    position: relative;

    display: block;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media all and (min-width:0px) {
    /* for elem clear */
    .input__box
    {
        padding-right: 25px;
    }
}
