.attach__reset
{
    margin-left: 5px;
    padding: 12px 12px 0 0;

    cursor: pointer;

    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTQzLjQxNyAxNS4xNjdjLTMuODY2IDAtNyAzLjEzNC03IDdzMy4xMzQgNyA3IDcgNy0zLjEzNCA3LTctMy4xMzQtNy03LTd6TTQ3LjU5MSAyNS4xNDhsLTEuMTkyIDEuMTkyLTIuOTgxLTIuOTgxLTIuOTgxIDIuOTgxLTEuMTkyLTEuMTkyIDIuOTgxLTIuOTgxLTIuOTgxLTIuOTgxIDEuMTkyLTEuMTkyIDIuOTgxIDIuOTgxIDIuOTgxLTIuOTgxIDEuMTkyIDEuMTkyLTIuOTgxIDIuOTgxIDIuOTgxIDIuOTgxeiIvPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik04IDBjNC40MTggMCA4IDMuNTgyIDggOCAwIDQuNDE5LTMuNTgyIDgtOCA4cy04LTMuNTgxLTgtOGMwLTQuNDE4IDMuNTgyLTggOC04eiIvPjxwYXRoIGQ9Ik04IDFjLTMuODY2IDAtNyAzLjEzNC03IDdzMy4xMzQgNyA3IDcgNy0zLjEzNCA3LTctMy4xMzQtNy03LTd6TTExLjk5IDEwLjU2NGwtMS40MjYgMS40MjYtMi41NjQtMi41NjQtMi41NjQgMi41NjQtMS40MjYtMS40MjYgMi41NjQtMi41NjQtMi41NjQtMi41NjQgMS40MjYtMS40MjYgMi41NjQgMi41NjQgMi41NjQtMi41NjQgMS40MjYgMS40MjYtMi41NjQgMi41NjQgMi41NjQgMi41NjR6Ii8+PC9zdmc+) no-repeat;
    /*background: url(attach__reset.svg) no-repeat;*/
    background-size: 100% 100%;
}
