.radio-button__radio_side_both
{
    border-radius: 3px;
}

.radio-button__radio_side_both:before
{
    right: 0;

    border-radius: 3px;
}

.radio-button__radio_side_both:after
{
    border-radius: 2px;
}
