@media all and (min-width:0px) {
    .input_type_textarea .input__control
    {
        display: block;
        position: relative;

        padding: 0.4em 24px 1px 0.4em;

        vertical-align: baseline;

        resize: vertical;

         /* Fixed bug — overflow textarea no scrolling on touch devices */
         -webkit-overflow-scrolling: touch;
    }

    /* Only FF */
    .input_type_textarea .input__control, x:-moz-any-link
    {
        padding-top: 0.44em;
    }

    .input_type_textarea .input__clear
    {
        right: 6px;
        top: 6px;

        width: 14px;
        height: 14px;
        margin: 0;

        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDEuMjA5Yy0zLjc1MSAwLTYuNzkxIDMuMDQtNi43OTEgNi43OTEgMCAzLjc0OSAzLjA0IDYuNzg5IDYuNzkxIDYuNzg5IDMuNzQ5IDAgNi43ODktMy4wNCA2Ljc4OS02Ljc4OSAwLTMuNzUxLTMuMDQtNi43OTEtNi43ODktNi43OTF6TTExLjk5IDEwLjU2NGwtMS40MjYgMS40MjYtMi41NjQtMi41NjQtMi41NjQgMi41NjQtMS40MjYtMS40MjYgMi41NjQtMi41NjQtMi41NjQtMi41NjQgMS40MjYtMS40MjYgMi41NjQgMi41NjQgMi41NjQtMi41NjQgMS40MjYgMS40MjYtMi41NjQgMi41NjQgMi41NjQgMi41NjR6Ii8+PC9zdmc+) 50% 50% no-repeat;
    }
}

.input_type_textarea .input__box
{
    padding: 1px 1px 1px 0;
}

/* body — increases the weight of selector to override INPUT height */
body .input_type_textarea .input__control
{
    height: auto;
    min-height: 2em;
}

