@media all and (min-width:0px) {
    .input_type_textarea .input__control
    {
        display: block;

        padding-top: 0.4em;
        padding-right: 1px;
        padding-bottom: 1px;

        vertical-align: baseline;

        resize: vertical;

         /* Fixed bug — overflow textarea no scrolling on touch devices */
         -webkit-overflow-scrolling: touch;
    }

    /* Only FF */
    .input_type_textarea .input__control, x:-moz-any-link
    {
        padding-top: 0.44em;
    }

    .input_type_textarea .input__clear
    {
        display: none;
    }
}

/* ::after — fade for long queries, is to the right */
.input_type_textarea .input__box::after
{
    display: none;
}

.input_type_textarea .input__box
{
    padding: 1px 1px 1px 0;
}

/* body — increases the weight of selector to override INPUT height */
body .input_type_textarea .input__control
{
    height: auto;
    min-height: 2em;
}

