.icon
{
    position: relative;

    display: inline-block;

    background: 50% no-repeat;

    /* Hack for correct baseline positioning */
    &:after
    {
        visibility: hidden;

        content: '\00A0';
    }

    .image
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: auto;
    }
}
