@media all and (min-width:0px) {
    .ua_js_yes .check-button__control
    {
        position: absolute;
        z-index: -1;
        /* TODO: добавить комментарий
           top, left — для LEGO-7938 */
        top: 4px;
        left: 4px;

        margin: 0;
        padding: 0;

        opacity: 0;
        outline: 0;

        border: 0;
        background: none;
    }
}
