@media all and (min-width:0px) {
    .i-ua_js_yes .check-button__control
    {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;

        opacity: 0;
        outline: 0;

        border: 0;
        background: none;
    }
}
