.calendar_theme_islands
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.calendar_theme_islands .calendar__title
{
  text-align: left;
  text-transform: uppercase;
  color: #999;
}

.calendar_theme_islands .calendar__cell
{
  padding: 6px 8px;
  cursor: pointer;
}

.calendar_theme_islands .calendar__cell_state_active,
.calendar_theme_islands .calendar__cell:hover
{
  border: 1px solid rgba(3,3,3,0.2);
  border-radius: 3px;
  padding: 5px 7px;
}
  
.calendar_theme_islands .calendar__cell:nth-child(n + 6){
  color: #ee0000;
}

.calendar_theme_islands .calendar__cell_state_disable
{
  opacity: 0.3;
}

.calendar_theme_islands .calendar__cell_state_disable:hover
{
  border: none !important;
  padding: 6px 8px;
  cursor: default !important;
}

.calendar_theme_islands .calendar__grid
{
  margin: 10px 0 0;
  text-align: center;
}

.calendar_theme_islands .calendar__switcher
{
  display: none;
}


