.popup
{
    border: 1px solid red;
    background: #fff;
    padding: 10px;
    opacity: 0;
    box-shadow: 0 1px 2px #999;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}

.popup_visible
{
    opacity: 1;
}

.popup_direction_bottom-left
{
    animation-name: popup_bottom;
}

.popup_direction_bottom-left.popup_visible {
    animation-name: popup_bottom_visible;
}

@keyframes popup_bottom
{
    0%
    {
        opacity: 1;
        margin-left: 0;
        transform: translateY(0);
    }

    99%
    {
        opacity: 0;
        margin-left: 0;
        transform: translateY(10px);
    }

    100%
    {
        margin-left: -99999px;
    }
}

@keyframes popup_bottom_visible
{
    0%
    {
        opacity: 0;
        transform: translateY(10px);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}
