@media all and (min-width:0px) {
    /* Маркер */
    .radiobox__radio_checked_yes .radiobox__box:after
    {
        position: absolute;
        left: 50%;
        top: 50%;

        content: '';

        width: 6px;
        height: 6px;

        margin: -3px 0 0 -3px;
        padding: 0;

        /* Цвет (background) маркера задается в _theme */

        -moz-border-radius: 100%;
        border-radius: 100%;
    }
}