.input__control
{
    position: relative;
    z-index: 3;

    width: 100%;
    margin: 0;

    color: #000;

    font: 100% Arial, sans-serif;
}

@media all and (min-width:0px) {
    .i-ua_js_yes .input__control
    {
        height: 2em;
        padding-left: 0.4em;
        /* padding-right for elem clear */
        padding-right: 25px;

        outline: 0;

        border: 0;
        background: none;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.input__control::-ms-clear
{
    /* Hide native cross in IE10 */
    display: none;
}