.page
{
    padding: 20px;

    p, h1, h2, h3, h4
    {
        margin: 15px 0;

        webkit-margin-start: 15px;
        webkit-margin-end: 15px;

        margin-block-start: 15px;
        margin-block-end: 15px;

        font-size: 15px;
    }
}
