.mytable
{
    font-size: 100%;

    width: 100%;
    margin-top: 20px;
    padding: 0;

    border-collapse: collapse;
}

.mytable__td
{
    width: 33%;
    padding: 0;

    vertical-align: top;

    border-collapse: collapse;
}

.mytable__i
{
    margin-right: 20px;
    padding: 20px;

    background: #6495ed;
}

.mytable__td_type_first .mytable__i
{
    background: #7fffd4;
}

.mytable__td_type_last .mytable__i
{
    margin-right: 0;

    background: #00ced1;
}