.input__control
{
    position: relative;
    z-index: 3;

    width: 100%;
    margin: 0;

    color: #000;

    font-size: 100%;
}

@media all and (min-width:0px) {
    .input__control
    {
        padding: 0.4em 0;

        outline: 0;

        border: 0;
        background: none;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.input__control::-ms-clear
{
    /* Hide native cross in IE10 */
    display: none;
}

/* Сбрасываем желтый бг у интутов при автозаполнении */
.input__control:-webkit-autofill
{
    top: 1px;
    left: 1px;

    height: 1.9em;

    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: #000;
}
