.checkbox_theme_islands
{
    .checkbox__box
    {
        background: #cbcbcb;

        &:after
        {
            top: -4px;

            filter: unquote('alpha(opacity=0)');
        }
    }

    .checkbox__control
    {
        outline: none;

        filter: unquote('alpha(opacity=0)');
    }

    &.checkbox_checked .checkbox__box
    {
        background: #ccbd80;

        &:before
        {
            content: ' ';
        }

        &:after
        {
            content: ' ';

            filter: unquote('alpha(opacity=100)');
        }
    }

    &.checkbox_hovered
    {
        .checkbox__box
        {
            background: #b3b3b3;
        }

        &.checkbox_checked .checkbox__box
        {
            background: #b2a265;
        }
    }

    &.checkbox_focused.checkbox
    {
        .checkbox__box
        {
            background: #fc0;
        }
    }

    &.checkbox_disabled
    {
        .checkbox__box
        {
            background: #ebebeb;
        }

        &.checkbox_checked .checkbox__box:after
        {
            background-position: 0 100%;
        }
    }

    for size in m l {
        &.checkbox_size_{size} .checkbox__box:after
        {
            background-image: url('tip_size_'size'.png');
        }
    }
}
