.button_togglable_radio:first-of-type,
.button_togglable_radio ~ .button_togglable_radio
{
    border-right-width: 0;
}

.button_togglable_radio ~ .button_togglable_radio
{
    border-radius: 0;
}

.button_togglable_radio:last-of-type
{
    border-right-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button_togglable_radio:first-of-type
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button_togglable_radio.button_hovered
{
    border-right-width: 1px;
}

.button_togglable_radio.button_hovered ~ .button_togglable_radio
{
    border-left-width: 0;
}

.button_togglable_radio.button_hovered ~ .button_togglable_radio ~ .button_togglable_radio
{
    border-left-width: 1px;
}
