.input_type_textarea .input__box
{
    margin-right: 0.5em;
}

.input_type_textarea .input__input
{
    margin-bottom: 0;
}

/* body — increases the weight selector to override height INPUT specified in the _size */
body .input_type_textarea .input__input
{
    height: auto;
}

