@media all and (min-width:0px) {
    .input_type_textarea .input__box
    {
        padding: 2px 1px 0 0;
    }

    .input_type_textarea .input__input
    {
        padding-top: 0.38em;
    }
}

.input_type_textarea .input__input
{
    margin-bottom: -0.6em;

    resize: vertical;

    /* Fixed bug — overflow textarea no scrolling on touch devices */
    -webkit-overflow-scrolling: touch;
}

.input_type_textarea .input__clear
{
    display: none;
}

/* Only FF */
.input_type_textarea .input__box, x:-moz-any-link
{
    padding-right: 2px;
}

.input_type_textarea .input__input, x:-moz-any-link
{
    min-height: 1.7em;
    margin-bottom: -0.3em;
}
