:block(table) {
    border-collapse: collapse;

    &:elem(title) {
        padding: 0 2em 0.5em 0;

        border-bottom: 1px solid #bbb;

        text-align: left;
    }

    &:elem(cell) {
        padding: 1em 2em 1em 0;

        border-bottom: 1px solid #ddd;

        vertical-align: top;
    }

    &:elem(title):last-child,
    &:elem(cell):last-child {
        padding-right: 0;
    }
}
