.input__hint
{
    position: absolute;
    z-index: 5;

    visibility: hidden;
    overflow: hidden;

    max-width: 100%;
    padding: 3px;

    cursor: text;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #ccc;

    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
