.select_theme_islands
{
    max-width: 100%;

    vertical-align: bottom;

    .select__button
    {
        width: 100%;

        text-align: left;
        vertical-align: top;

        .button__text
        {
            display: block;

            &:empty:before
            {
                content: '\00a0';
            }
        }

        &.button_size_s
        {
            .button__text
            {
                padding-right: 27px;
            }

            .icon
            {
                width: 25px;
            }
        }


        &.button_size_m
        {
            .button__text
            {
                padding-right: 28px;
            }

            .icon
            {
                width: 29px;
            }
        }

        &.button_size_l
        {
            .button__text
            {
                padding-right: 32px;
            }

            .icon
            {
                width: 33px;
            }
        }

        &.button_size_xl
        {
            .button__text
            {
                padding-right: 38px;
            }

            .icon
            {
                width: 39px;
            }
        }
    }

    .select__tick
    {
        position: absolute;
        top: 0;
        right: 0;

        background-image: url(../../theme/_islands/arrow.svg);

        transition: transform 0.1s ease-out;
    }

    &.select_size_s .select__tick
    {
      background-image: url(../../theme/_islands/arrow-s.svg);
    }

    &.select_opened .select__tick
    {
        transform: rotate(-180deg);
    }

    &.select_width_available
    {
        width: 100%;
    }
}
