.test
{
    overflow: scroll;

    width: 400px;
    margin: 50px;
    padding: 100px;

    background-color: #666;
}

.test p
{
    width: 3000px;
}

.test .test
{
    width: 200px;
    margin: 0;
    padding: 50px;

    background-color: #999;
}

.test .test .link
{
    margin-left: 700px;
}
