.input__clear
{
    position: absolute;
    z-index: 5;
    right: 0.3em;
    top: 50%;

    visibility: hidden;

    width: 16px;
    height: 16px;
    margin: -8px 0 0 0;
    padding: 0;

    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTQzLjQxNywxNS4xNjdjLTMuODY2LDAtNywzLjEzNC03LDdzMy4xMzQsNyw3LDdzNy0zLjEzNCw3LTcgUzQ3LjI4MywxNS4xNjcsNDMuNDE3LDE1LjE2N3ogTTQ3LjU5MSwyNS4xNDhsLTEuMTkyLDEuMTkybC0yLjk4MS0yLjk4MWwtMi45ODEsMi45ODFsLTEuMTkyLTEuMTkybDIuOTgxLTIuOTgxbC0yLjk4MS0yLjk4MSBsMS4xOTItMS4xOTJsMi45ODEsMi45ODFsMi45ODEtMi45ODFsMS4xOTIsMS4xOTJsLTIuOTgxLDIuOTgxTDQ3LjU5MSwyNS4xNDh6Ii8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTgsMGM0LjQxOCwwLDgsMy41ODIsOCw4YzAsNC40MTktMy41ODIsOC04LDhzLTgtMy41ODEtOC04IEMwLDMuNTgyLDMuNTgyLDAsOCwweiIvPjxwYXRoIGQ9Ik04LDFDNC4xMzQsMSwxLDQuMTM0LDEsOHMzLjEzNCw3LDcsN3M3LTMuMTM0LDctN1MxMS44NjYsMSw4LDF6IE0xMS45OSwxMC41NjQgbC0xLjQyNiwxLjQyNkw4LDkuNDI2TDUuNDM2LDExLjk5TDQuMDEsMTAuNTY0TDYuNTc0LDhMNC4wMSw1LjQzNkw1LjQzNiw0LjAxTDgsNi41NzRsMi41NjQtMi41NjRsMS40MjYsMS40MjZMOS40MjYsOCBMMTEuOTksMTAuNTY0eiIvPjwvc3ZnPg0K) 100% 50% no-repeat;
    /*background: url(input__clear.svg) 100% 50% no-repeat;*/
}
