.page {
    padding: 0;
}

.test {
    &__header {
        position: fixed;
        z-index: 20000;
        width: 100%;
        line-height: 56px;
        padding: 0 30px;
        background: #F6F5F3;
        border-bottom: 1px solid #e5e5e5;
    }

    &__content {
        padding: 86px 30px 30px;
        min-height: 1000px;

    }

    .dropdown {
        display: inline-block;
    }

    &__right-dropdown {
        margin-left: 50px;
    }
}
