.dragndrop_eye
{
    width: 80px;
    height: 80px;

    border: 10px solid #000;
    border-radius: 50%;

    &:before
    {
        content: '';

        position: absolute;
        top: 30px;
        left: 25px;

        width: 40px;
        height: 40px;

        background: none repeat scroll 0 0 black;
        border-radius: 50%;
    }
}
