.popup_theme_islands {
  display: none;
  visibility: hidden;
  margin: -9999px 0 0 -9999px;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 10px 20px -5px rgba(0,0,0,0.4);
  animation-fill-mode: forwards;
}
.popup_theme_islands.popup_js_inited {
  display: block;
}
.popup_theme_islands.popup_visible {
  visibility: visible;
  margin: 0;
}
.popup_theme_islands.popup_direction_bottom-left {
  animation-name: popup_theme_islands_bottom;
}
.popup_theme_islands.popup_direction_bottom-center {
  animation-name: popup_theme_islands_bottom;
}
.popup_theme_islands.popup_direction_bottom-right {
  animation-name: popup_theme_islands_bottom;
}
.popup_theme_islands.popup_direction_bottom-left.popup_visible {
  animation-name: popup_theme_islands_bottom_visible;
}
.popup_theme_islands.popup_direction_bottom-center.popup_visible {
  animation-name: popup_theme_islands_bottom_visible;
}
.popup_theme_islands.popup_direction_bottom-right.popup_visible {
  animation-name: popup_theme_islands_bottom_visible;
}
.popup_theme_islands.popup_direction_top-left {
  animation-name: popup_theme_islands_top;
}
.popup_theme_islands.popup_direction_top-center {
  animation-name: popup_theme_islands_top;
}
.popup_theme_islands.popup_direction_top-right {
  animation-name: popup_theme_islands_top;
}
.popup_theme_islands.popup_direction_top-left.popup_visible {
  animation-name: popup_theme_islands_top_visible;
}
.popup_theme_islands.popup_direction_top-center.popup_visible {
  animation-name: popup_theme_islands_top_visible;
}
.popup_theme_islands.popup_direction_top-right.popup_visible {
  animation-name: popup_theme_islands_top_visible;
}
.popup_theme_islands.popup_direction_right-top {
  animation-name: popup_theme_islands_right;
}
.popup_theme_islands.popup_direction_right-center {
  animation-name: popup_theme_islands_right;
}
.popup_theme_islands.popup_direction_right-bottom {
  animation-name: popup_theme_islands_right;
}
.popup_theme_islands.popup_direction_right-top.popup_visible {
  animation-name: popup_theme_islands_right_visible;
}
.popup_theme_islands.popup_direction_right-center.popup_visible {
  animation-name: popup_theme_islands_right_visible;
}
.popup_theme_islands.popup_direction_right-bottom.popup_visible {
  animation-name: popup_theme_islands_right_visible;
}
.popup_theme_islands.popup_direction_left-top {
  animation-name: popup_theme_islands_left;
}
.popup_theme_islands.popup_direction_left-center {
  animation-name: popup_theme_islands_left;
}
.popup_theme_islands.popup_direction_left-bottom {
  animation-name: popup_theme_islands_left;
}
.popup_theme_islands.popup_direction_left-top.popup_visible {
  animation-name: popup_theme_islands_left_visible;
}
.popup_theme_islands.popup_direction_left-center.popup_visible {
  animation-name: popup_theme_islands_left_visible;
}
.popup_theme_islands.popup_direction_left-bottom.popup_visible {
  animation-name: popup_theme_islands_left_visible;
}
@-moz-keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-o-keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-moz-keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-o-keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
