:block(modal):mod(theme islands) {
    :block(modal):elem(content) {
        width: 450px;
        padding: 20px;

        text-align: center;

        :block(text) {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
