.radio_theme_simple .radio__control {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio_theme_simple .radio__box:before {
  line-height: 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0.1em 0.2em 0.3em;
  content: ' ';
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.5);
}
.radio_theme_simple.radio_disabled {
  opacity: 0.6;
}
.radio_theme_simple.radio_focused .radio__box:before {
  box-shadow: 0 0 5px 1px #fc0;
}
.radio_theme_simple.radio_checked .radio__box:before {
  content: '\2022';
  background: #fff7db;
}
