.radio_theme_normal
{
    font-family: Arial, Helvetica, sans-serif;

    &:hover
    {
        cursor: pointer;
    }

    .radio__control
    {
        position: relative;
        z-index: -1;

        margin: 0;

        opacity: 0;
    }

    .radio__box
    {
        position: relative;

        display: inline-block;

        border-radius: 50%;
        background: rgba(0, 0, 0, 0.2);

        &:before
        {
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;

            content: '';

            border-radius: 50%;
            background: #fff;
        }
    }

    &.radio_size_m
    {
        font-size: 13px;

        .radio__box
        {
            line-height: 14px;

            width: 14px;
            height: 14px;
            margin-right: 5px;

            &:after
            {
                top: 4px;
                left: 4px;

                width: 6px;
                height: 6px;
            }
        }
    }

    &.radio_size_l
    {
        font-size: 15px;

        .radio__box
        {
            line-height: 17px;

            width: 17px;
            height: 17px;
            margin-right: 7px;

            &:after
            {
                top: 5px;
                left: 5px;

                width: 7px;
                height: 7px;
            }
        }
    }

    &.radio_checked
    {
        .radio__box
        {
            background: rgba(153, 122, 0, 0.5);

            &:before
            {
                background: #ffeba0;
            }

            &:after
            {
                position: absolute;

                border-radius: 50%;
                background: #000;

                content: '';
            }
        }
    }

    &.radio_focused
    {
        .radio__box
        {
            box-shadow: 0 0 10px #fc0;
        }
    }

    &.radio_hovered
    {
        .radio__box
        {
           background: rgba(0, 0, 0, 0.3);
        }

        &.radio_checked .radio__box
        {
           background: rgba(129, 103, 0, 0.6);
        }
    }

    &.radio_disabled
    {
        cursor: default;

        color: #999;

        .radio__box
        {
            background: rgba(0, 0, 0, 0.08);

            &:before
            {
                display: none;
            }

            &:after
            {
                background: rgba(0, 0, 0, 0.4);
            }
        }
    }

    &.radio_type_button
    {
        display: inline-block;
    }

    &.radio_type_line
    {
        &.radio_size_m
        {
            margin-right: 13px;
        }

        &.radio_size_l
        {
            margin-right: 15px;
        }

        &:last-child
        {
            margin-right: 0;
        }
    }
}
