.checkbox-group_theme_simple .checkbox_type_button:first-of-type .button_togglable_check,
.checkbox-group_theme_simple .checkbox_type_button~ .checkbox_type_button .button_togglable_check {
  border-right-width: 0;
}
.checkbox-group_theme_simple .checkbox_type_button~ .checkbox_type_button .button_togglable_check {
  border-radius: 0;
}
.checkbox-group_theme_simple .checkbox_type_button:first-of-type .button_togglable_check {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.checkbox-group_theme_simple .checkbox_type_button:last-of-type .button_togglable_check {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
