:block(checkbox-group):mod(theme simple) {
    :block(checkbox):mod(type button) {
        &:first-of-type :block(button):mod(togglable check),
        &~ :block(checkbox):mod(type button) :block(button):mod(togglable check) {
            border-right-width: 0;
        }

        &~ :block(checkbox):mod(type button) :block(button):mod(togglable check) {
            border-radius: 0;
        }

        &:first-of-type :block(button):mod(togglable check) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-of-type :block(button):mod(togglable check) {
            border-right-width: 1px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}
