.scrollable
{
    overflow: auto;

    width: 300px;
    height: 300px;

    background-color: #eee;
}
.scrollable .test
{
    position: relative;

    width: 800px;
    height: 800px;
}

.scrollable .test .link
{
    position: absolute;
    top: 50%;
    left: 50%;
}
