.input_size_s
{
    height: 28px;

    line-height: 100%;
    font-size: 13px;
}

.input_size_s .input__box
{
    height: 100%;
}

.input_size_s .input__clear
{
    width: 27px;
}

.input_size_s .input__control
{
    height: 27px;
    padding: 0 0 0 7px; /* Сбрасываем паддинги, но оставляем паддинг слева*/
}
