.input_size_m
{
    line-height: 32px;

    font-size: 15px;
}

.input_size_m .input__clear
{
    width: 31px;
}

.input_size_m .input__control
{
    padding-left: 10px;
}

.input_size_m .input__hint
{
    padding-left: 11px;
}