.checkbox_size_s
{
    font-size: 13px;
}

.checkbox_size_s .checkbox__box:after,
.checkbox_size_s .checkbox__box:before
{
    width: 12px;
    height: 12px;
}

.checkbox_size_s .checkbox__tick
{
    background-size: contain;
}
